spring.application.name=HSF302_Ecom

# ==============================
# DATABASE CONFIG
# ==============================

spring.datasource.url=jdbc:sqlserver://localhost:1433;databaseName={Database_Name};encrypt=true;trustServerCertificate=true
spring.datasource.username={Database_Username}
spring.datasource.password={Database_Password}
spring.datasource.driver-class-name=com.microsoft.sqlserver.jdbc.SQLServerDriver

# ==============================
# JPA / HIBERNATE
# ==============================

spring.jpa.database-platform=org.hibernate.dialect.SQLServerDialect
spring.jpa.hibernate.ddl-auto=create

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Fix Unicode NVARCHAR
spring.jpa.properties.hibernate.use_nationalized_character_data=true

# ==============================
# THYMELEAF
# ==============================

spring.thymeleaf.cache=false
spring.thymeleaf.prefix=classpath:/templates/
spring.thymeleaf.suffix=.html

# ==============================
# GMAIL SMTP CONFIG
# ==============================

# Spring Mail (Gmail example)
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username={Your_Gmail_Address}
spring.mail.password={Your_Gmail_App_Password}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
spring.mail.default-encoding=UTF-8